# Runtime identity and published SSH port
SSHBOX_USERNAME=sshbox
SSHBOX_UID=1000
SSHBOX_GID=100
SSHBOX_PORT=7723

# Persistent data on Unraid
SSHBOX_HOME_DIR=/mnt/user/home/sshbox
GIT_REPO_DIR=/mnt/user/gitsshbox
SSHBOX_HOSTKEYS_DIR=/mnt/user/docker/sshbox/hostkeys

# For isolated network, Use a unique /24 per isolated docker.
# Safe range is 172.16.0.0-172.16.255.0
NETWORK_ISOLATED_NAME=sshbox_isolated
NETWORK_ISOLATED_SUBNET=172.16.2.0/24
